--------------------+PROCESS INFORMATION+--------------------
NAME=Thread-1  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=10
NAME=Thread-2  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=5
NAME=Thread-3  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=5
NAME=Thread-4  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=2
NAME=Thread-5  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=4
NAME=Thread-6  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=10
NAME=Thread-7  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=5
NAME=Thread-8  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=5
NAME=Thread-9  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=2
NAME=Thread-10  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=4
