--------------------+PROCESS INFORMATION+--------------------
NAME=Thread-1  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2  QUANTUM=5
NAME=Thread-2  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1 QUANTUM=8
NAME=Thread-3  ID=11eb     CPU_BOUND=True  IO_BOUND=False  PRIORITY=-2 QUANTUM=10
NAME=Thread-4  ID=ae99     CPU_BOUND=True  IO_BOUND=False  PRIORITY=-3 QUANTUM=6
NAME=Thread-5  ID=102239c  CPU_BOUND=True  IO_BOUND=False  PRIORITY=-5 QUANTUM=7
