--------------------+PROCESS INFORMATION+--------------------
NAME=Thread-1  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=5000
NAME=Thread-2  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=3000
NAME=Thread-3  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=4000
NAME=Thread-4  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=6000
NAME=Thread-5  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=7000
NAME=Thread-6  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=8000
NAME=Thread-7  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=9000
NAME=Thread-8  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=10000
NAME=Thread-9  ID=24b6c7d5 CPU_BOUND=True  IO_BOUND=False  PRIORITY=2   SIZE=1000
NAME=Thread-10  ID=a663a    CPU_BOUND=True  IO_BOUND=False  PRIORITY=-1  SIZE=8000
